body { padding-top: 56px; }


nav{
    background-color: #2D3D50;
}


img.my_avatar{
    height: 200px;
    width: 200px;
}

.line,
.line{
    width: 80px;
    height: 4px;
    background-color:black;
    margin: .7rem;
    border-radius: 25px;
}

.line_light,
.line_light{
    background-color:white;
}

.fa-download {
    padding-right: .6rem;
}


.jumbo {
    background-color: #1BBC9C;

}


.my_card-1{
background-image: url("../img/cabin.png");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 320px;

}

.my_card-2{
    background-image: url("../img/cake.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-3{
    background-image: url("../img/circus.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-4{
    background-image: url("../img/game.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-5{
    background-image: url("../img/safe.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-6{
    background-image: url("../img/submarine.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

.about{
    background-color: #1BBC9C;
    height: 100%;
}

.my_form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 0;
}

.my_button {
    background-color: #1BBC9C;
    border: none;
}

.my_link{
    color: #1BBC9C;
    text-decoration: none;

}
.footer_top{
    background-color: #3A546D;
}

.footer_bottom{
    background-color: #2D3D50;
}

.my_social_icon i{
    padding-top: 0.2rem;
    font-size: 0.8rem;
    margin: 0 0.3rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.6rem 0.6rem;
}

.my_social_icon i.fa-facebook-f{
    padding: 0.6rem 0.8rem;
}

@media screen and (max-width: 768px) {
    body { padding-top: 56px; }
} 

@media screen and (min-width: 992px) {
    body { padding-top: 88px; }
} 