body { padding-top: 56px; }


nav{
    background-color: #2D3D50;
}


img.my_avatar{
    height: 200px;
    width: 200px;
}

.line_left,
.line_right{
    width: 80px;
    height: 4px;
    background-color:white;
    margin: .7rem;
    border-radius: 25px;
}


.jumbo {
    height:400px;
    background-color: #1BBC9C;

}


/* img.my_card-1{
    width: 100%;
    height: 100%;
} */


.my_card-1{
background-image: url("../img/cabin.png");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 320px;

}

.my_card-2{
    background-image: url("../img/cake.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-3{
    background-image: url("../img/circus.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-4{
    background-image: url("../img/game.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-5{
    background-image: url("../img/safe.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

}

.my_card-6{
    background-image: url("../img/submarine.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

.about{
    background-color: #1BBC9C;
    height: 100%;
}

.contact_me {
    height:300px;
    
}

footer{
    background-color: #3A546D;
    height:200px;
}

.my_little_footer{
    background-color: #2D3D50;
}



@media screen and (max-width: 768px) {
    body { padding-top: 56px; }
} 

@media screen and (min-width: 992px) {
    body { padding-top: 88px; }
} 